<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="icon" href="/Images/logo.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="common.css">
    <link rel="stylesheet" href="settings.css">
    <link rel="stylesheet" href="sprint_verwaltung.css">
    <script src="controller.js"></script>
    <title>Sprint Verwaltung</title>
</head>
<body id="body" class="content">
    <div class="nav">
        <img class="arrow" id="arrow" src="/Images/arrow_back.png" alt="" onclick="location.href='/settings'">
        <h1 class="text titleR">Sprint Verwaltung</h1>
    </div>
    <div class="mainContent" id="mainContent">
        <% let dateValid = true ; %> 
        <% for(let i = 1; i < 5; i++){ %>
            <% if (params.pi == "PI-0" + i){ %>

            <div class="titleGrid">
                <input type="number" id="yearChanger" class="text titleYear" onchange="updateYear()" value="<%- params.year %>" min="2020" max="2100" step="1"> 
                <div class="titles">
                    <a <% if(i==1){%> style="font-weight: bold;"<% } %> class ="title" href="/sprint_verwaltung/<%- params.year %>/PI-01">PI-01</a>
                    <a <% if(i==2){%> style="font-weight: bold;"<% } %> class ="title" href="/sprint_verwaltung/<%- params.year %>/PI-02">PI-02</a>
                    <a <% if(i==3){%> style="font-weight: bold;"<% } %> class ="title" href="/sprint_verwaltung/<%- params.year %>/PI-03">PI-03</a>
                    <a <% if(i==4){%> style="font-weight: bold;"<% } %> class ="title" href="/sprint_verwaltung/<%- params.year %>/PI-04">PI-04</a>
                </div> 
            </div>
            <form class="grid" action="/sprint_verwaltung/<% __append(params.year + "/" + params.pi)%>" method="post">
                <% for (let d = 1; d < 7; d++){ %>
                    <p class="content_text text">PI-0<%-i%>-0<%-d%></p>

                    <input placeholder="Start" <% if(sprints !== undefined){ %>
                            value="<%- getFormattedDate(sprints.find(sprint => sprint.sprintNumber === d)?.von) %>"<% } %>
                            name="start" type="date" class="input text">
                    
                    <input placeholder="Ende" <% if(sprints !== undefined){ %>
                        value="<%- getFormattedDate(sprints.find(sprint => sprint.sprintNumber === d)?.bis) %>" <% } %>
                        name="ende" type="date" class="input text">
                    <p></p><!--Space-->
                    <% if(d==1){ %> 
                        <p></p>
                        <% if(dateValid !== true){%>
                            <button class="saveBtn tooltip">Sichern<span class="tooltiptext">Das von-Datum muss kleiner, als das bis-Datum sein und darf nicht leer sein!</span></button>
                        <%}else{%>
                            <button class="saveBtn">Sichern</button>
                        <% } %> 
                        
                    <% } %> 
                    <% if(d < 6 && d != 1){ %> 
                        <p></p>
                        <p></p>
                        <p></p>
                    <% }else if(d == 6){ %> 
                        <p class="content_text text">Planungstage</p>
                        
                        <input placeholder="Start" <% if(pi !== null){ %>  
                        value="<%- getFormattedDate(pi.planungVon) %>" <% } %> 
                        type="date" name="planungStart" class="input text">
                        
                        <input placeholder="Ende" <% if(pi !== null){ %> 
                        value="<%- getFormattedDate(pi.planungBis) %>" <% } %> 
                        type="date" name="planungEnde" class="input text">
                                                   
                    <% } %>
                    <!-- Validierung --> 
                    <% if (dateValid !== true && 
                            getFormattedDate(pi.planungVon) < getFormattedDate(pi.planungBis) && 
                            getFormattedDate(sprints.find(sprint => sprint.sprintNumber === 1)?.von) < getFormattedDate(sprints.find(sprint => sprint.sprintNumber === 1)?.bis)&& 
                            getFormattedDate(sprints.find(sprint => sprint.sprintNumber === d)?.von) < getFormattedDate(sprints.find(sprint => sprint.sprintNumber === d)?.bis)){
                                dateValid = true;
                            }
                            else{
                                dateValid = false;
                            }%> 
                <% } %>  
                <% function getFormattedDate(date){
                    return new Date(date.getFullYear(),date.getMonth(),date.getDate(),4).toISOString().split("T")[0]
                } %> 
            </form>        
            <% } %>
        <% } %>
    </div>
</body>
<script>
    setColors("dark");
    var arrow = document.getElementById('arrow');
    arrow.classList.add('arrow-dark');
    arrow.classList.remove('arrow');

    function updateYear(){
        yearInput = document.getElementById('yearChanger');
        location.href="/sprint_verwaltung/"+ yearInput.value + "/PI-01";
    }
</script>
</html>
