<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="icon" href="/Images/logo.png">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="calendar.css">
  <script src="controller.js"></script>
  <title>Mein Kalender</title>
</head>

<body id="body" class="content">
  <%- include('header') %>
  <div class="mainContent" id="mainContent">
    <div class="calendar">
      <div class="month">
        <ul>
          <li onclick="location.href='/mein_kalender/<%- calendar.month - 1 === 0 ? calendar.year - 1 : calendar.year %>/<%- calendar.month - 1 === 0 ? 12 : calendar.month - 1 %>'" class="prev">&#10094;</li>
          <li onclick="location.href='/mein_kalender/<%- calendar.month === 12 ? calendar.year + 1  : calendar.year %>/<%- calendar.month === 12 ? 1 : calendar.month + 1 %>'" class="next">&#10095;</li>
          <li>
            <%= calendar.monthString %><br>
            <span style="font-size:18px"><%= calendar.year %></span>
          </li>
        </ul>
      </div>

      <ul class="weekdays">
        <li class="text" onclick="changeAnwesenheiten(1)">Mo</li>
        <li class="text" onclick="changeAnwesenheiten(2)">Di</li>
        <li class="text" onclick="changeAnwesenheiten(3)">Mi</li>
        <li class=" text" onclick="changeAnwesenheiten(4)">Do</li>
        <li class="text" onclick="changeAnwesenheiten(5)">Fr</li>
        <li class="text weekend" onclick="changeAnwesenheiten(6)">Sa</li>
        <li class="text weekend" onclick="changeAnwesenheiten(0)">So</li>
      </ul>
      <ul class="days">
        <% for( let i = 0; i < calendar.fillerDays; i++ ) { %>
        <li class="fillerDay"></li>
        <% } %>
        <% for( let i = 1; i < calendar.daysInMonth + 1; i++ ) { %>
        <li onclick="changeAnwesenheit(this.id)" id="day-<%= i %>" class="text <% addClassesToElement() %>">
          <% if(i == calendar.activeDay) { __append('<span class="active">' + i + '</span>') } else { __append(i) } %>
        </li>
        <% function addClassesToElement() {
          if(calendar.abwesenheitenInMonth.some(abwesenheit => abwesenheit.date === i && abwesenheit.typ === 'abwesend')){
             __append(" abwesend") 
          }else if(calendar.abwesenheitenInMonth.some(abwesenheit => abwesenheit.date === i && abwesenheit.typ === 'halbAbwesend')){
            __append("halbAbwesend")
          }else{
            if(isStandardAbwesenheit() && !(calendar.abwesenheitenInMonth.some(abwesenheit => abwesenheit.date === i && abwesenheit.typ === 'anwesend'))){
              __append("abwesend")
            }else{
              __append("anwesend") 
            }
          } 
          if(isWeekend()){
            __append(" weekend")
          }
          if(isSecondRow()){
            __append(" gestrichelt2")
          }else{
            __append(" gestrichelt1")
          }
        }
        function isSecondRow() {
          return Math.ceil((i+ calendar.fillerDays) / 7) % 2 === 0
        }
        function isWeekend() {
          return ((i + calendar.fillerDays) % 7 === 0 || (i + calendar.fillerDays + 7 - 6) % 7 === 0 )
        }
        function isStandardAbwesenheit() {
          //so = 0; mo = 1; di = 2; mi = 3; do = 4; fr = 5; sa = 6;
          return calendar.standardAbwesenheiten.some(day => (i + calendar.fillerDays + 7 - day) % 7 === 0)
        } %>
        <% } %>
      </ul>
      <ul class="farbLegende">
        <li primary>
          <div>
            <div></div>
          </div> Anwesend
        </li>
        <li secondary>
          <div>
            <div></div>
          </div> Abwesend
        </li>
        <li tertiary>
          <div>
            <div></div>
          </div> Halber Tag Abwesend
        </li>
      </ul>
    </div>
  </div>
</body>
<script>
  let newlyChangedAbwesenheiten = []

  addEventListener('visibilitychange', event => {
    if (document.visibilityState === 'hidden') {
      const body = {
        newlyChangedAbwesenheiten: newlyChangedAbwesenheiten,
        _csrf: "<%= csrfToken %>"
      };
      const headers = {
        'Access-Control-Allow-Origin': '*',
        type: 'application/json'
      };
      const blob = new Blob([JSON.stringify(body)], headers);
      navigator.sendBeacon("/mein_kalender/<%- calendar.year %>/<%- calendar.month %>", blob);
      newlyChangedAbwesenheiten = []
    }
  });


  function changeAnwesenheiten(day) {
    //so = 0; mo = 1; di = 2; mi = 3; do = 4; fr = 5; sa = 6; %>
    for (let i = day - <%- calendar.fillerDays %>; i < 31; i = i + 7) {
      if (i < 0) {
        i = i + 7
      }
      changeAnwesenheit(i)
    }
  }

  function changeAnwesenheit(id) {
    const newState = switchStates(id)
    const abwesenheit = {
      id: Number(id.slice(4)),
      newState: newState,
    }
    upsertNewlyChangedAbwesenheiten(abwesenheit);
  }

  function upsertNewlyChangedAbwesenheiten(abwesenheit) {
    const i = newlyChangedAbwesenheiten.findIndex(_element => abwesenheit.id === _element.id);
    if (i > -1) newlyChangedAbwesenheiten[i] = abwesenheit
    else newlyChangedAbwesenheiten.push(abwesenheit);
  }

  function switchStates(id) {
    const element = document.getElementById(id);
    if (element.classList.contains("abwesend")) {
      element.classList.remove("abwesend");
      element.classList.add("halbAbwesend");
      setBorder();
      return "halbAbwesend"
    } else if (element.classList.contains("halbAbwesend")) {
      element.classList.remove("halbAbwesend");
      element.classList.add("anwesend");
      setBorder();
      return "anwesend"
    } else if (element.classList.contains("anwesend")) {
      element.classList.remove("anwesend");
      element.classList.add("abwesend");
      setBorder();
      return "abwesend"
    }
  }

  function setBorder() {
    let listElements = Array.from(document.querySelectorAll("li.abwesend, li.halbAbwesend"));

    for (const element of listElements) {
      element.classList.remove("borderBottom")
      element.classList.remove("borderTop")
    }

    for (const element of listElements) {
      if (listElements.includes(element)) {
        element.classList.add("borderTop");
        let lastElementId = Number(element.id.slice(4));
        while (listElements.find(e => e.id === "day-" + (lastElementId + 7)) !== undefined) {
          listElements = listElements.filter(e => e.id !== "day-" + lastElementId);
          lastElementId += 7
        }
        listElements.find(e => e.id === "day-" + (lastElementId)).classList.add("borderBottom");
        listElements = listElements.filter(e => e.id !== "day-" + lastElementId);
      }
    }
  }
  setBorder();
</script>
<%- include('colorScript') %>

</html>