<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="header.css">
  <link rel="stylesheet" href="common.css">
  <link rel="stylesheet" href="calendar.css">
  <script src="controller.js"></script>
  <title>Mein Kalender</title>
</head>

<body id="body" class="content">
  <%- include('header') %>
  <div class="mainContent" id="mainContent">
    <div class="calendar">
      <div class="month">
        <ul>
          <li onclick="location.href='/mein_kalender/<%- calendar.month - 1 === 0 ? calendar.year - 1 : calendar.year %>/<%- calendar.month - 1 === 0 ? 12 : calendar.month - 1 %>'" class="prev">&#10094;</li>
          <li onclick="location.href='/mein_kalender/<%- calendar.month === 12 ? calendar.year + 1  : calendar.year %>/<%- calendar.month === 12 ? 1 : calendar.month + 1 %>'" class="next">&#10095;</li>
          <li>
            <%= calendar.monthString %><br>
            <span style="font-size:18px"><%= calendar.year %></span>
          </li>
        </ul>
      </div>

      <ul class="weekdays">
        <li class="text">Mo</li>
        <li class="text">Di</li>
        <li class="text">Mi</li>
        <li class="text">Do</li>
        <li class="text">Fr</li>
        <li class="text weekend">Sa</li>
        <li class="text weekend">So</li>
      </ul>
      <ul class="days">
        <% for( let i = 0; i < calendar.fillerDays; i++ ) { %>
        <li class="fillerDay"></li>
        <% } %>
        <% for( let i = 1; i < calendar.daysInMonth + 1; i++ ) { %>
        <li onclick="elementPressed(this.id)" id="<%= i %>" class="text anwesend <% if((i + calendar.fillerDays) % 7 === 0 || (i + calendar.fillerDays + 1) % 7 === 0 ) { __append("weekend") }%>">
          <% if(i == calendar.activeDay) { __append('<span class="active">' + i + '</span>') } else { __append(i) } %>
        </li>
        <% } %>
      </ul>
    </div>
  </div>
</body>
<script>
  function elementPressed(id) {
    const element = document.getElementById(id);
    if(element.classList.contains("abwesend")) {
      element.classList.remove("abwesend");
      element.classList.add("anwesend");
    } else if(element.classList.contains("anwesend")) {
      element.classList.remove("anwesend");
      element.classList.add("abwesend");
    }
    fetch("/mein_kalender/<%- calendar.year %>/<%- calendar.month %> ", {
        method: "POST",
        body: JSON.stringify({
          day: id
        }), 
        headers: {
          "Content-Type": "application/json"
        }
      })
      .then(response => response.json())
      .then(json => console.log(json));
  }
</script>
<%- include('colorScript') %>

</html>